<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button id="open-modal">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fishing Catches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-label>Fisherman</ion-label>
        <ion-item
          id="itemautocomplete"
          detail="false"
          fill="outline"
          shape="round"
          style="padding-left: 0px; padding-right: 0px"
        >
          <input id="txtautocomplete" class="native-input sc-ion-input-md" list="txtautocompletelist"/>
          <datalist id="txtautocompletelist">
              <option>Steven</option>
              <option>Keith</option>
              <option>Bunkie</option>
              <option>Don H</option>
          </datalist>
        </ion-item>

        <ion-label>Species</ion-label>
        <ion-item
          id="species"
          detail="false"
          fill="outline"
          shape="round"
          style="padding-left: 0px; padding-right: 0px"
        >
          <input id="speciesautocomplete" class="native-input sc-ion-input-md" list="specieslist"/>
          <datalist id="specieslist">
              <option>Pickerel</option>
              <option>Bass</option>
              <option>Trout</option>
              <option>Salmon</option>
          </datalist>
        </ion-item>
        <ion-datetime presentation="date"></ion-datetime>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>

