<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="secondary">
      <ion-button id="open-modal">
        <ion-icon slot="icon-only" name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fishing Catches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="map"></div>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>

          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content scroll-y="false">
        <ion-grid>  
          <ion-row>  
            <ion-picker>
              <ion-picker-column>
                <div class="fish" slot="prefix">Fishermen:</div>
                <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                <ion-picker-column-option value="Steve">Steve</ion-picker-column-option>
                <ion-picker-column-option value="Keith">Keith</ion-picker-column-option>
                <ion-picker-column-option value="Bunkie">Bunkie</ion-picker-column-option>
                <ion-picker-column-option value="Don H">Don H</ion-picker-column-option>
              </ion-picker-column>
              <ion-picker-column>
                <div slot="prefix">Species:</div>
                <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                <ion-picker-column-option value="Pickerel">Pickerel</ion-picker-column-option>
                <ion-picker-column-option value="LM Bass">Largemouth Bass</ion-picker-column-option>
                <ion-picker-column-option value="Blue Catfish">Blue Catcfish</ion-picker-column-option>
                <ion-picker-column-option value="Channel Catfish">Channel Catfish</ion-picker-column-option>
                <ion-picker-column-option value="Chinook Salmon">Chinook Salmon</ion-picker-column-option>
              </ion-picker-column>
            </ion-picker>
          </ion-row>  
          <ion-row>  
          <ion-picker>
            <ion-picker-column>
              <div slot="prefix">River:</div>
              <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
              <ion-picker-column-option value="Magothy">Magothy River</ion-picker-column-option>
              <ion-picker-column-option value="Potomac">Potomac River</ion-picker-column-option>
              <ion-picker-column-option value="Choptank">Choptank</ion-picker-column-option>
              <ion-picker-column-option value="Columbia">Columbia River</ion-picker-column-option>
              <ion-picker-column-option value="Salmon">Salmon</ion-picker-column-option>
            </ion-picker-column>
          </ion-picker>
          </ion-row>  
  


          <ion-row>
            <ion-label>Start Date: </ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
            <ion-label>End Date: </ion-label>
            <ion-datetime-button datetime="datetime"></ion-datetime-button>

            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime presentation="date" id="datetime"></ion-datetime>
              </ng-template>
            </ion-modal>
          </ion-row>
        </ion-grid>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>